rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /screenshots/{fileName} {
      allow read: if true;
      allow write: if request.resource.size < 500000
                   && request.resource.contentType.matches('image/jpeg');
    }
  }
}
